@charset "UTF-8";

@media screen and (min-width: 650px) and (max-width: 992px){
    body{
        background-color: aqua;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-color: rgb(255, 174, 0);
    }
}


@media screen and (min-width: 1200px){
    body{
        background-color: rgb(184, 42, 124);
    }
}