@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 400px){
    main section#p_game h2{
        font-size: 1em;
    }

    main section#p_game button{
        font-size: 0.7em;
    }

    div.carrossel-jogos div.item{
        margin-left: 100px;
        margin-right: 200px;
    }

    div.carrossel-jogos div.item img.box-jogo{
        width: 120px;
        height: 170px;
    }

    div.carrossel-jogos div.item span{
        margin: 5px;
        margin-left: -55px;
    }

    div.carrossel-jogos div.item div.info{
        width: 120px;
    }

    div.carrossel-jogos div.item div.info h3{
        font-size: 0.7em;
    }

    main section#new-g div.jogos{
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 400px) and (max-width: 650px){
    main section#p_game h2{
        font-size: 1em;
    }

    main section#p_game button{
        font-size: 0.7em;
    }

    div.carrossel-jogos div.item span{
        margin-left: 140px;
    }

    div.carrossel-jogos div.item img.box-jogo{
        width: 170px;
        height: 230px;
    }

    div.carrossel-jogos div.item div.info{
        width: 170px;
    }
}

/*--- Para todas as telas > 650px ---*/
@media screen and (min-width: 650px){
    nav .search{
        display: block;
    }

    nav ul li span#menu:hover{
        transition: 2ms;
        background-color: var(--red);
    }

    menu ul li input.search{
        display: none;
    }

    div.carrossel-jogos div.item div.info{
        width: 200px;
    }

    div.carrossel-jogos div.item span{
        margin: 5px;
        margin-left: 80%;
    }

    div.carrossel-jogos div.item span:hover{
        color: var(--red);
        font-variation-settings:
        'FILL' 1
    } 
    
    div.jogos div.item span:hover{
        color: var(--red);
        font-variation-settings:
        'FILL' 1
    }

    main button:hover{
        transform: scale(1.2);
    }

    footer{
        align-items: stretch;
        gap: 40px;
    }

    footer section{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
    }

    footer div#icones i:hover{
        color: var(--red);
    }
}

@media screen and (min-width: 650px) and (max-width: 992px){

    body{
       background-color: rgb(0, 255, 34);
    }

    header section img{
        width: 20vw;
    }

    main section#p_game{
        padding-bottom: 250px;
    }

    main section#p_game h2{
        padding-top: 180px;
    }

    div.carrossel-jogos div.item span{
        margin: 5px;
        margin-left: 80%;
    }

    main section#new-g div.jogos{
        gap: 50px;
    }    

    main section#new-g div.jogos{
        padding-left: 25px;
        justify-content: flex-start;
        align-items: center;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
     background-color: rgb(255, 174, 0); 
    }

    header section img{
        width: 15vw;
    }

    main section#p_game{
        margin: 35px;
        padding-bottom: 270px;
    }

    main section#p_game h2{
        padding-top: 190px;
    }

    main section#new-g div.jogos{
        padding-left: 25px;
        justify-content: space-between;
    }

    div.jogos div.item img{
        width: 180px;
    }

    div.jogos div.item div.info{
        width: 180px;
    }
}

@media screen and (min-width: 1200px){
    body{
      background-color: rgb(184, 42, 124);
    }

    header section img{
        width: 12vw;
    }

    main section#p_game{
        margin: 40px;
        padding-bottom: 350px;
    }

    main section#p_game h2{
        padding-top: 250px;
    }

    main section#new-g div.jogos{
        padding-left: 25px;
        justify-content: space-between;
    }
    
    div.jogos div.item img{
        width: 180px;
    }

    div.jogos div.item div.info{
        width: 180px;
    }
}