@charset "UTF-8";

@media screen and (min-width: 650px){
    .search:hover{
        background-color: var(--red);
    }

    nav .search{
        display: block;
    }

    menu ul li input.search{
        display: none;
    }
}

@media screen and (min-width: 650px) and (max-width: 992px){

    body{
        background-color: rgb(0, 255, 34);
    }

    header section img{
        width: 15vw;
    }

    main section#p_game span{
        top: 30vw;
        left: 40vw;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-color: rgb(255, 174, 0);
    }

    header section img{
        width: 15vw;
    }

    main section#p_game span{
        top: 30vw;
        left: 60vw;
    }
}


@media screen and (min-width: 1200px){
    body{
        background-color: rgb(184, 42, 124);
    }
}