@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root{
    --red: #E22327;
    --black: #000000;
    --gray: #DBD3D3;
    --white: #FFFFFF;

    --title:'Noto Sans', sans-serif;
    --subtitle-contect: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    font-family: var(--subtitle-contect);
}

/* HEADER */

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
    background-color: var(--black);
}

header section{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

header section img{
    width: 25vw;
}

header section nav{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.search{
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding-left: 30px;

    background: url(../imagens/home/search.svg) no-repeat 5px/20px, #FFF;
    cursor: pointer;
    transition-property: width, border-radius, box-shadow;
    transition-duration: 300ms;
}

.search:focus{
    width: 170px;
    border-radius: 4px;
    box-shadow: 0 0 0 2px var(--red);
    outline: none;
    cursor: auto;
}

nav ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

nav ul li{
    list-style-type: none;
    text-align: center;
}

nav ul li span{
    text-align: center;
    background-color: var(--white);
    width: 25px;
    border-radius: 50%;
    color: black;
    cursor: pointer;
}

nav ul li span#menu:hover{
    transition: 2ms;
    background-color: var(--red);
}

nav .search{
    display: none;
}

menu{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

menu ul{
    list-style-type: none;
    text-decoration: none; 
}

menu ul li{
    padding: 15px;
}

menu ul li a{
    font-family: var(--subtitle-contect);
    font-size: 1em;
    text-decoration: none;
    color: var(--black);
    
    /*--- barra lateral ---*/
    flex-basis: 20%;
    position: relative;
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: left;
    width: 30vw;
    height: 20vh;
    padding: 20px;
}

menu ul li a::after{
    content: '';
    width: 2px;
    height: 30%;
    background-color: var(--red);
    position: absolute;
    left: 1%;
    top: 20px;
}

menu ul li a:hover{
    transition: 2ms;
    text-decoration: underline;
}

/* MAIN */

main{
    margin-top: 80px;
}

/*--- Spider Man ---*/

main section#p_game{
    background: url(../imagens/home/spider-man.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: right;
    margin: 20px;
    border-radius: 5px;
    height: 30vh;
}

main section#p_game h2, button{
    padding: 20px;
}

main section#p_game h2{
    font-size: 1.2em;
    color: var(--white);
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 120px;
}

main section#p_game button{
    font-size: 0.8em;
    margin-right: 20px;
    cursor: pointer;
    color: var(--white);
    background-color: transparent;
    padding: 5px;
    text-decoration: none;
    border: 2px solid var(--black);
    border-radius: 5px;
}

/*--- Trending Games ---*/

